{% extends 'base.html' %}
{% load static %}
{% block title %} screener {% endblock %}
{% block content %}
<script type="text/javascript" src="{% static 'js/DE_screener.js' %}"></script>
<script type="text/javascript" src="{% static 'js/screener.js' %}"></script>
<script type="text/javascript" src="{% static 'js/enrichment.js' %}"></script>

<script>csrf_token= "{{ csrf_token }}"</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/all_page.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tag-editor.css' %}"> -->

<!-- views data to js -->
<div id="homo_miRNA_list" data-json="{{ homo_miRNA_list|safe }}"></div>

<div id="container">
    <div width=100% align="center">
        <div style="width: 90%;">
            <div class="card my-4">
                <div class="card-header fs-5 fw-bold">
                    Filter
                </div>
                <div class="card-body my-4">
                    <div class="FormOption">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select type : </label>
                            <div class="searchable-container">
                                <div id="radioBtn" class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3">
                                        <a class="btn btn-primary btn-lg active btn-toggle" data-toggle="DE_level" data-title="genes">DE Genes</a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a class="btn btn-primary btn-lg notActive btn-toggle" data-toggle="DE_level" data-title="isoforms">DE Isoforms</a>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                    <!-- cancer select -->
                    <div class='FormOption'>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Select a cancer : </label><br><br>
                            <div class="col-sm-7">
                                <div id='primary_site_div'>
                                    <select class="form-control select2-hidden-accessible" id="primary_select" style="width: 100%" name="select_element" tabindex="-1" aria-hidden="true">
                                        {% for primary_project in primary_project_list %}
                                        <option value="{{ primary_project.0 }}|{{ primary_project.1 }}">{{ primary_project.0 }} cancer</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- switch for survival analysis -->
                    <div class='FormOption'>
                        <div class="form-group" style="background-color: #ebebeb;">
                            <br>
                            <div class="col-sm-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="switch_survival">
                                    <label class="form-check-label" for="switch_survival" >Survival Analysis</label>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <br>

                    <!-- survival analysis options -->
                    <div class="survival_analysis" style="display: none;">
                        <!-- choose stage -->
                        <div class='FormOption'>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Select a stage : </label><br><br>
                                <div class="col-sm-7">
                                    <div id='stage_div'>
                                        <select class="form-control select2-hidden-accessible" id="stage_select" style="width: 100%" name="stage_element" tabindex="-1" aria-hidden="true">
                                            <option value="all stage">all stages</option>
                                            <option value="stage i">stage 1</option>
                                            <option value="stage ii">stage 2</option>
                                            <option value="stage iii">stage 3</option>
                                            <option value="stage iv">stage 4</option>
                                        </select>
                                    </div><br><br>
                                    
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- choose percentile -->
                        <div class='FormOption'>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Input high and low percentile : </label><br><br>
                                <div class="col-sm-7">
                                    <div  class="row justify-content-evenly">
                                        <div class="col-4">
                                            <label for="high_percentile">High percentile:</label>
                                            <input class="form-control select2-hidden-accessible" type="number" id="high_percentile" name="high_percentile" value="50"/>                                
                                        </div>
                                        <div class="col-4">
                                            <label for="low_percentile">Low percentile:</label>
                                            <input class="form-control select2-hidden-accessible" type="number" id="low_percentile" name="low_percentile" value="50"/>
                                        </div>
                                    </div><br><br>
                                </div>
                            </div>
                        </div>
                        <br>

                        <!-- Select the threshold value of the p-value -->
                        <div class='FormOption'>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Input the threshold value of the p-value : </label><br><br>
                                <div class="col-sm-7">
                                    <div  class="row justify-content-evenly">
                                        <div class="col-4">
                                            <label for="c_type_sur">correction : </label><br>
                                            <select class="form-control select2-hidden-accessible" name="Correction_sur" id="c_type_sur">
                                                <option value="None">None</option>
                                                <option value="FDR">FDR</option>
                                                <option value="Bonferroni">Bonferroni</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <label for="p_value">P-value : </label>
                                            <input class="form-control select2-hidden-accessible" type="number" id="p_value" name="p_value" value="0.05" step="0.05"/>
                                        </div>
                                    </div>
                                </div><br><br>
                            </div>
                        </div>
                        <br><br>   
                    </div>

                    <!-- switch for miRNA screener -->                
                    <div class='FormOption'>
                        <div class="form-group" style="background-color: #ebebeb;">
                            <label class="col-sm-4 control-label"></label><br>
                            <div class="col-sm-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="switch_miRNA">
                                    <label class="form-check-label" for="switch_miRNA" >miRNA screener</label>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    <br>

                    <!-- miRNA screener -->
                    <div class="miRNA_screener" style="display: none;">
                        <div class='FormOption'>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Input miRNA and will search its target genes : </label><br><br>
                                <div class="col-sm-7">
                                    <div style="margin:0 0 1.2em">
                                        <textarea id="miRNA_input_area">hsa-miR-21-5p
                                            hsa-miR-34a-5p</textarea>
                                    </div>
                                </div>
                            </div><br>
                        </div><br>
                        <div class='FormOption' id="set_operation_area" style="display: none;">
                            <div class="form-group">
                                <p>
                                    Whether you want to intersect or union the selected data
                                </p>
                                <div class="row justify-content-evenly">
                                    <div class="col-3">
                                        <input type="radio" id="miRNA_union" name="miRNA_set" value="union" checked> 
                                        <label for="miRNA_union" >union </label>                                
                                    </div>
                                    <div class="col-3">
                                        <input type="radio" id="miRNA_intersection" name="miRNA_set" value="intersection" >
                                        <label for="miRNA_intersection" >intersection </label>
                                    </div>
                                    <div class="col-3 diff_set">
                                        <input type="radio" id="miRNA_difference1_2" name="miRNA_set" value="difference1_2" >
                                        <label for="miRNA_difference1_2" >difference(first - second) </label>
                                    </div>
                                    <div class="col-3 diff_set">
                                        <input type="radio" id="miRNA_difference2_1" name="miRNA_set" value="difference2_1" >
                                        <label for="miRNA_difference2_1" >difference(second - first) </label>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div><br><br>
                    </div>

                    <!-- switch for DE screener -->
                    <div class='FormOption'>
                        <div class="form-group" style="background-color: #ebebeb;">
                            <label class="col-sm-4 control-label"></label><br>
                            <div class="col-sm-2">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="switch_DE">
                                    <label class="form-check-label" for="switch_DE" >DE screener</label>
                                </div><br>
                            </div>
                        </div>
                    </div><br>
                    <!-- DE screener -->
                    <div class="DE_screener" style="display: none;">
                        <div class='FormOption'>
                            <div class="form-group">
                                <p>
                                    Search differentially expressed (DE) genes / [mRNA isoforms] between two conditions (cancer stages)
                                </p>
                                <label class="col-sm-4 control-label">select two stages: </label><br><br>
                                <div  class="row justify-content-evenly">
                                    <div class="col-1">
                                    </div>
                                    <div class="col-3">
                                        <b>Condition2</b>
                                        <div id='c1_div'>
                                            <select class="form-control select2-hidden-accessible" id='condition1_pre' style='width: 100%' name="DE_filter_elements">
                                                <option value="stage i|TCGA-LIHC|171">Stage i</option>
                                                <option value="normal|TCGA-LIHC|50">Normal</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        vs.
                                    </div>
                                    <div class="col-3">
                                        <b>Condition1</b>
                                        <div id='c2_div'>
                                            <select class="form-control select2-hidden-accessible" id='condition2_pre' style="width: 100%" name="DE_filter_elements">
                                                <option value="normal|TCGA-LIHC|50">Normal</option>
                                                <option value="stage i|TCGA-LIHC|171">Stage i</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                    </div>
                                </div>
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-3">
                                    <button id="reverseButton" class="btn btn-secondary" type="button">Swap the two options</button>
                                </div>
                                <br>
                                <div class="col-sm-3"></div></div>
                        </div><br><br>

                        <!-- area of Define differential expression  -->
                        <div class='FormOption'>
                            <div class="form-group">
                                <p>Define differential expression :</p>
                                <div class="col-sm-8">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="background-color: #747474;color:#FFFFFF;border-color: #747474;text-align:center;border-top-left-radius:4px;border-top-right-radius:4px;font-size: 14px;">
                                                    Fold Change of Average FPKM
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px; vertical-align: middle; text-align: center;">
                                                    <div class="input-group" style="display: flex; align-items: center;">
                                                        <span class="input-group-addon" style="border-right:0;width:35%">
                                                            Condition2 / Condition1
                                                        </span>
                                                        <span class="input-group-addon" style="border-right:0;width:20%;">
                                                            <select class="form-control select2-hidden-accessible" id="FC_select" style="width: 80%" name="DE_filter_elements" tabindex="-1" aria-hidden="true">
                                                                <option>≥</option>
                                                                <option>≤</option>
                                                            </select>
                                                        </span>
                                                        
                                                        <input type="text" class="form-control" id='log2FC_input' name="DE_filter_elements" value="2" style="z-index:0;border-top-right-radius:0;">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="background-color: #747474;color:#FFFFFF;border-color: #747474;text-align:center;border-top-left-radius:4px;border-top-right-radius:4px;font-size: 14px;">
                                                    Statistical Significance
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="padding: 5px; vertical-align: middle; text-align: center;">
                                                    <div class="input-group" style="display: flex; align-items: center;">
                                                        <span class="input-group-addon" style="border-right:0;width:20%;">
                                                            <span style="font-weight: bold">Test</span>
                                                            <select class="form-control select2-hidden-accessible" id="TEST_select" style="width:90%; margin: 0 auto;" name="DE_filter_elements" tabindex="-1" aria-hidden="true" onchange="select_function()">
                                                                <option>KS test</option>
                                                                <option selected>T test</option>
                                                                <option>U test</option>
                                                            </select>
                                                        </span>
                                                        <span class="input-group-addon" style="border-right:0;width:40%;">
                                                            <span style="font-weight: bold">Direction</span>
                                                            <select class="form-control select2-hidden-accessible" id="TESTstates_select" style="width:90%; margin: 0 auto;" name="DE_filter_elements" tabindex="-1" aria-hidden="true">
                                                                <option>Greater (Condition2 > Condition1)</option>
                                                                <option>Less (Condition2 < Condition1)</option>
                                                                <option style="display: none">Two sided (Condition 2 != Condition 1)</option>
                                                            </select>
                                                        </span>
                                                        <span class="input-group-addon" style="border-right:0;width:20%;">
                                                            <span style="font-weight: bold">Correction</span>
                                                            <select class="form-control select2-hidden-accessible" id="cor_method" style="width:90%; margin: 0 auto;" name="DE_filter_elements" tabindex="-1" aria-hidden="true" >
                                                                <option>None</option>
                                                                <option>FDR</option>
                                                                <option>Bonferroni</option>
                                                            </select>
                                                        </span>
                                                        <span class="input-group-addon" style="border-right:0;width:20%;">
                                                            <span style="font-weight: bold">q-value cutoff</span>
                                                            <input type="text" class="form-control" id='TEST_input' name="DE_filter_elements" value="0.05" style="border-top-right-radius:0;z-index:0;width:90%; margin: 0 auto;">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div><br><br>
                    </div>

                    <!-- search bar -->
                    <button type ='button' value = 'search' id = "search_btn" class="btn btn-success" style="width: 30%;">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div width=100% align="center" id="output_div" style="display: none;">
        <div style="width: 90%;">
            <div class="card my-4">
                <div class="card-header fs-5 fw-bold">
                    Output
                </div>
                <div class="card-body my-4">
                    <div>
                        <h3>User Input</h3>
                        <table id="user_input" class="table table-bordered">
                            <tbody id="user_input_survival_analysis" >
                                <tr>
                                    <td>Stage select </td>
                                    <td id="stage_td"></td>
                                </tr>
                                <tr>
                                    <td>High percentile </td>
                                    <td id="high_percent_td"></td>
                                </tr>
                                <tr>
                                    <td>Low percentile </td>
                                    <td id="low_percent_td"></td>
                                </tr>
                                <tr>
                                    <td>correction </td>
                                    <td id="correction_td"></td>
                                </tr>
                                <tr>
                                    <td>P-value </td>
                                    <td id="input_pvalue_td"></td>
                                </tr>
                            </tbody>
                            <tbody id="user_input_miRNA_screener" >
                                <tr>
                                    <td>Input miRNA</td>
                                    <td id="selected_miRNA_td"></td>
                                </tr>
                                <tr>
                                    <td>miRNA set </td>
                                    <td id="miRNA_set_td"></td>
                                </tr>
                            </tbody>
                            <tbody id="user_input_de_screener" >
                                <tr>
                                    <td>Condition2</td>
                                    <td id="condition2_td"></td>
                                </tr>
                                <tr>
                                    <td>Condition1</td>
                                    <td id="condition1_td"></td>
                                </tr>
                                <tr>
                                    <td>Fold Change of Average FPKM (Condition2 / Condition1)</td>
                                    <td id="fold_change_td"></td>
                                </tr>
                                <tr>
                                    <td>Test</td>
                                    <td id="test_td"></td>
                                </tr>
                                <tr>
                                    <td>Direction</td>
                                    <td id="direction_td"></td>
                                </tr>
                                <tr>
                                    <td>Correction</td>
                                    <td id="de_correction_td"></td>
                                </tr>
                                <tr>
                                    <td>q-value cutoff</td>
                                    <td id="q-value_td"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br><br>
                    <div id="output_message" style="font-size: xx-large;"></div><br>
                    <div id = 'output'>
                        <table id="output_table" class="table table-bordered " style="width: 100%;"></table>
                    </div>
                </div>
            </div>
        </div>   
    </div>   
    <hr style="border: 3px solid black;"/><!--修改的樣式-->
    <div style="width: 80%; margin: 0 auto;">
        <div id="enrichment_area" >
            <span >
                <h3>enrichment analysis</h3>(Perform the analysis with the results above)
            </span>
            <br>
            <br>
            <div width=100% align="center">
                <div id="enrichment_analysis_user_input" style="display: none;">
                    <h3>User Input</h3>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>Correction type</td>
                                <td id="enrichment_correction"></td>
                            </tr>
                            <tr>
                                <td>p-value(cut-off)</td>
                                <td id="enrichment_p-value"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="width: 80%; margin: 0 auto;">
                    <div class="col-sm-6">
                        <label>Correction type</label>
                        <select class="form-control select2-hidden-accessible" id="c_type_enrich" style="width:70%; margin: 0 auto;" name="Correction_enrich" tabindex="-1" aria-hidden="true">
                            <option value="None">None</option>
                            <option value="FDR">FDR</option>
                            <option value="Bonferroni">Bonferroni</option>
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label>p-value(cut-off)</label>
                        <select class="form-control select2-hidden-accessible" id="p-value_enrich" style="width:70%; margin: 0 auto;" name="p-value_enrich" tabindex="-1" aria-hidden="true">
                            <option value="0.05">0.05</option>
                            <option value="0.01">0.01</option>
                            <option value="0.001">0.001</option>
                        </select>
                    </div>
                </div>
                <br>
                <br>
                <div style="text-align: center;">
                    <button type ='button' value = 'search' id="btn_cal" class="btn btn-success" style="width: 30%;">calculate</button>
                </div><br>
                <table id="relate_table" class="table table-striped"></table> 
                <table id="comparison_table" class="table table-striped" style=" overflow-x: auto; white-space: nowrap;"></table> 
            </div>
        </div>
    </div>
</div><br><br><br>
{% endblock %}
